<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authors</title>
</head>

<body>
    <h1>Authors !!!</h1>
    <small><a href="/">Books</a></small>
    <form action="/add_author/" method="POST">
        {% csrf_token %}
        <h2>Add a book</h2>
        First Name: <input type="text" name="first_name">
        <br>
        Last Name: <input type="text" name="last_name">
        <br>
        Notes: <textarea name="notes" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" name="add_author" value="Add">

    </form>
    {%for author in authors%}

    <p>{{author.id}} {{author.first_name}}
        <a href="/view_authorDetails/{{author.id}}">View</a>
    </p>
    {%endfor%}
</body>

</html>