<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New User</title>
</head>
<body>
    <form action="/addnew/" method="POST">
        {% csrf_token %}
    First name: <input type="text" name="first_name" placeholder="First name">
    Last name: <input type="text" name="last_name" placeholder="Last name">
    Email : <input type="text" name="email" placeholder="Email">
    Age name: <input type="text" name="age" placeholder="Age">
    
    <input type="submit" value="Add">   
</form>
</body>
</html>