<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<body>
    <div id="wrapper" class="container">
        <H1>Welcome !!
        </H1>
        <table class="table table-stripped dataTable">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Occupation</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {%for one_friend in all_friends %}
                <tr>
                    <td>{{one_friend["first_name"]}}</td>
                    <td>{{one_friend["last_name"]}}</td>
                    <td>{{one_friend["occupation"]}}</td>
                    <td>{{one_friend["email"]}}</td>
                    <td><a href="/users/{{one_friend['id']}}/update ">Edit</a></td>
                   
                    <td><a href="/users/{{one_friend['id']}}/destroy">Delete</a></td>
                {%endfor%}
            </tbody>
        </table>
        <a href="Add_newuser.html">Add new user</a>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>