<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<body>
    <H1> Welcome , lets print a list!
    </H1>
    <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Full Name</td>
            </tr>
        </thead>
        {%for stu in students%}
        <tr>
            <td>{{stu['first_name']}}</td>
            <td>{{stu['last_name']}}</td>
            <td>{{stu['first_name']}}-{{stu['last_name']}} </td>
        </tr> 
        {%endfor%}
    </table>
    <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>