#wrapper{
    
    height: 500px;
    /* background-color: aquamarine; */
}
#add-cities{
    width: 50%;
}
#add-cities,#show-cities{
display: inline-block;
border: 1px solid black;

padding: 10px;
vertical-align: top;

}

table { 
width:250px;
table-layout:fixed;
border-collapse:collapse 
}
table tr
{ height:20px;
}
td > div 
{ overflow-y:scroll;
    overflow-x:hidden;
} 
